---
sitemap: false
---

/*
 *
 *  Moon
 *
 *  Designer: Tolga Tatlı
 *  WEB: http://tolgatatli.dev
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "elements";
@import "syntax";
@import "nav";
@import "vendor/fonts";
@import "vendor/font-awesome";
@import "vendor/animate";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

body {
  background-image: url("{{ '/assets/img/NasaJupiter.jpg' | relative_url }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

html, body {
  height: 100%;
}

@media (max-width: 768px) {
  body {
    background-image: url("{{ '/assets/img/NasaJupiter.jpg' | relative_url }}"); /* same image for mobile, or swap if needed */
    background-size: cover;
    background-position: center;
  }
}